<footer id="footer" class="bg-dark">
    <div class="container">
      <div class="row ">
        <div class="col-md-4 ">
          <h3 class="text-white mb-4">Stay<span class="text-primary">ON</span></h3>
          <h4 class="text-light mb-2">Company</h4>
          <p class="text-secondary mb-2">Who we Are</p>
          <p class="text-secondary mb-2">Blog</p>
          <p class="text-secondary mb-2">Careers</p>
          <p class="text-secondary mb-2">Report Fraud</p>
          <p class="text-secondary mb-2">Contact</p>
        </div>
        <div class="col-md-4 text-center">
          
          <h4 class="text-light mb-2 mt-5">For You</h4>
          <p class="text-secondary mb-2">Privacy</p>
          <p class="text-secondary mb-2">Terms</p>
          <p class="text-secondary mb-2">Security</p>
          <p class="text-secondary mb-2">Site Map</p>
          <p class="text-secondary mb-2">Contact</p>
        </div>
        
         <div class="col-md-4 text-right">
          
          <h4 class="text-light mb-2 mt-5">For Rooms</h4>
          <p class="text-secondary mb-2">Hotels</p>
          <p class="text-secondary mb-2">Rooms</p>
          <p class="text-secondary mb-2">Bookings</p>
          <p class="text-secondary mb-2">Food</p>
          <p class="text-secondary mb-2">Restuarant</p>
        </div>
      </div>
  </footer><!-- End Footer -->