<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span>Travelix</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="">Home</a></li>
          <li><a href="#about">Offers</a></li>
          <li><a href="#services">About</a></li>
          <li><a href="#contact">Contact</a></li>
            {{#if userdetails}}
          <li class="drop-down"><a href="">Account</a>
            <ul>
              <li><a href="/profile/{{userdetails._id}}"class="icofont-ui-user"> Profile</a></li>
              
              <li><a href="/logout" class="icofont-logout"> Logout</a></li>
              
            </ul>
          </li>
          {{/if}}
          
        {{#if userdetails}}
        <li class="get-started" ><a href="#"><i class="icofont-ui-user"></i> {{userdetails.name}}</a></li>
        {{else}}
          <li class="get-started"><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->