<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Contact Us</h1>
        <h2>Feel free to contact us..</h2>
        
        <div>
          {{#if contacted}}
          <p class="alert alert-success" id="msg">Message sent successfully</p>
          {{/if}}
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="/user/assets/images/contact.svg" class="img-fluid animated" alt="">
      </div>
    </div>
    
  </div>

</section><!-- End Hero -->

  <section id="contact" class="contact">
    <div class="container">

      
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="contact-about">
            <h3>TRAVELIX</h3>
            <p>TRAVELIX provides online Hotel Bookings of hotels in India and worldwide. Book cheap, budget and luxury
              hotels at great prices on best hotel booking site.</p>
            <div class="social-links">
              <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
              <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
              <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
              <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="info">
            <div>
              <i class="ri-map-pin-line"></i>
              <p>kollam<br>Kerala,India, 691001</p>
            </div>

            <div>
              <i class="ri-mail-send-line"></i>
              <p>travelix123@.com</p>
            </div>

            <div>
              <i class="ri-phone-line"></i>
              <p>9567361815</p>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-12">
          <form action="/contact" method="post" >
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required data-rule="minlen:4"
                data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required
                data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required
                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" required
                data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
             
            <div class="text-center"><button class="btn btn-primary">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->
  
<script>
  setTimeout(function(){
    $('#msg').css('display','none')
  },1500)
</script>
