<section class="bg-light">
    <div class="container ">
        <div class=" col-md-12">
            <div class="container mt-5">
                <div class="section-title">
                    <h2>Select Payment</h2>
                </div>
            </div>

            <div class="col-md-12 mt-5">
                <center><img src="/user/assets/images/pay.svg" alt="" style="width: 300px; height:300px;"></center>
                <p class="h5 text-center mt-5 mb-5">Amount to pay : {{total}}/-</p>
                <center><button class="btn btn-primary text-center btn-lg mt-5 mb-5" onclick="foodpay('{{total}}','{{userdetails._id}}')">Pay</button></center>
            </div>
            

        </div>
    </div>
</section>
<script>
function foodpay(total,userId){
    
    $.ajax({
        url:'/razorpaynew/'+userId,
        method:'post',
        data:{userId:userId,total:total} 
        success:(response)=>{
           razorpayPayment(response) 
        }
    })
}
function razorpayPayment(order){
    var options = {
        "key": "rzp_test_BTPYMRVQAXV143", // Enter the Key ID generated from the Dashboard
        "amount": order.response.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Travelix",
        "description": "Food Booking",
        "image": "https://99designs-blog.imgix.net/blog/wp-content/uploads/2019/04/attachment_86982101-e1555563023971.png?auto=format&q=60&fit=max&w=930",
        "order_id": order.response.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            // alert(response.razorpay_payment_id);
            // alert(response.razorpay_order_id);
            // alert(response.razorpay_signature)
            verifyPaid(response,order.response,order)
        },
        "prefill": {
            "name": order.user.name,
            "email": order.user.username,
            "contact": order.user.mobile
        },
        "notes": {
            "address": ""
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
    function verifyPaid(payment,order,user){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            },
            method:'POST',
            success:(response)=>{
                if(response.status){
                    location.href='/profile/'+user.user._id
                }else{
                    alert("Transaction failed")
                    location.href='/order'
                }
            }
        })
    }
}
</script>