<div class="dashboard-wrapper mt-5">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Add Hotel Foods</h2>
                    <p class="pageheader-text"></p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header"></h5>
                <div class="card-body">
                    <form action="/hotel/addhotelfood" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label class="col-3 col-lg-2 col-form-label text-right">Food</label>
                            <div class="col-9 col-lg-10">
                                <input name="foodname" type="text" required="" placeholder="food name"
                                    class="form-control">
                                    <input name="hid" type="hidden" value="{{hotel._id}}" >
                            </div>
                        </div>
                         <div class="form-group row">
                            <label class="col-3 col-lg-2 col-form-label text-right">Restaurant Name</label>
                            <div class="col-9 col-lg-10">
                                <input name="restaurant" type="text" required="" placeholder="Restaurant Name"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-lg-2 col-form-label text-right">Price</label>
                            <div class="col-9 col-lg-10">
                                <input name="price" type="number" required="" class="form-control" placeholder="price">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-lg-2 col-form-label text-right">Category</label>
                            <div class="col-9 col-lg-10">
                                <select name="category" id="" class="form-control">
                                    <option value="" selected="selected" disabled>--select--</option>
                                    {{#each categories}}
                                    <option value="{{this.category}}">{{this.category}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-lg-2 col-form-label text-right">Image</label>
                            <div class="col-9 col-lg-10">
                                <input type="file" name="image" required="" placeholder="" class="form-control">

                            </div>
                        </div>
                        <div class="col-sm-6 pl-0">
                            <p class="text-right">
                                <button type="submit" class="btn btn-space btn-primary">Add</button>
                                <a href="/hotel/food" class="btn btn-space btn-secondary">Cancel</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>