<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->



<!DOCTYPE html>
<html>

<!-- Head -->
<head>

<title>Hotel | Login</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Sleek Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->
<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
<!-- Style --> <link rel="stylesheet" href="/hotel/css/hotel-login.css" type="text/css" media="all">

<!-- Fonts -->
<link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<!-- //Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>

	<h1>LOGIN</h1>

	<h2>Signup to your Account</h2>
    {{#if signupErr}}
    <p class="m-2 text-danger h5">Username/mobile Already exist</p>
    {{/if}}
	<div class="w3layoutscontaineragileits">
		<form action="/hotel/signup" method="post" enctype="multipart/form-data">
			<input type="text" name="username" placeholder="EMAIL" required="">
			<input type="password" name="password" placeholder="password (min 8-14 characters)" required="" minlength="8" maxlength="14">
			<input type="text" name="hotelname" placeholder="Hotel name" required="">
            <input type="text" name="city" placeholder="located city" required="">
            <input type="text" name="hoteladdress" placeholder="Address" required="">
            <input type="text" name="mobile" placeholder="Mobile" required="">
            <label for="hotelimage" class="">Hotel Image</label>
            <input type="file" name="image" required="" id="hotelimage">
            <label for="licenseimage" class="">Hotel licenese</label>
            <input type="file"  name="license" required="" id="licenseimage">
            <input type="hidden" name="status" value="0">
			<input type="hidden" name="block" value="0">
             <input type="hidden" name="joined" value="{{today}}">
			<div class="aitssendbuttonw3ls mt-4 mb-5" >
				<input type="submit" value="Signup" style="background: #ffffff; color:rgb(0, 0, 0);">
				<p><a href="/hotel">Already have an account<span>→</span></a></p>
				<div class="clear"></div>
			</div>
		</form>
	</div>

	

</body>
<!-- //Body -->

</html>